
---
tite: "CSS grid"
description: "New CSS grid"
categories: ["grid", "layout"]
___

{% set css %}
.smol {
--min: 10ch;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
grid-gap: 1rem;
}

{% endset %}

{% set html %}
<ul class="smol">
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
</ul>
  {% endset %}

{% include "code.njk" %}
